body, html {
    margin: 0;
    padding: 0;
    
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.containeres{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 70vw;
    max-width: 600px;
    
    color: black;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.border{
    border: 5px solid black;
}
@media screen and (max-width: 500px){
    body{
        overflow: hidden;
        width: 100vw;
        height: 100vh;

    }
    .containeres{
        
        width: 100vw;
        height: 100vh;
        
    }
    .img{
        width: 200px;
        height: 200px;
    }
    
}
img {
    width: 300px;
    height: 300px;
}

.descricao {
    width: 300px;
}

h2 {
    margin-bottom: 5px;
}

.duracao {
    width: 300px;
    margin-top: 25px;
}

.barra {
    width: 300px;
    height: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

progress {
    height: 6px;
    width: 0%;
    background-color: #333;
}

.ponto {
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: -10px;
}

.tempo {
    display: flex;
    width: 300px;
    height: 30px;
    justify-content: space-between;
}

.player {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.botao-play, .botao-pause {
    font-size: 50px;
    cursor: pointer;
}

.setas {
    font-size: 40px;
    cursor: pointer;
}

.botao-pause {
    display: none;
}
.imghungia{
    background-image: url(img/hungria.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}